<form  class="drop-shadow-xl" action="">

    
    <div class="p-20 ml-60 ">
        <div class="rounded-lg  w-3/5 h-80 border border-gris ring-offset-slate-50">
            <h1 class=" ml-6 pt-4 font-bold font-sans m-4 text-2xl	">Ingredientes </h1>

            <div class="space-y-2">

                <input  class="border border-gris w-60 ml-6  " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">
                <input  class="border border-gris w-60 ml-6 " ngfor type="text" name="nombre" value="">

            </div>
            <div class="p-6 flex justify-end text-slate-50">

                <button class="text-white ml-6 bg-lilipink  w-32 h-10  rounded-full " >Ok</button>
            </div>
    
        </div>
    </div>
</form>
